.App {
  text-align: center;
  #top {
    padding-top: 5vh;
  }
}

.id-maker {
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.main-section {
  border-bottom: 2px solid black;
}